body {
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: white;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 30px 0;
  font-family: Helvetica, 'Open Sans', Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  body #content {
    padding: 30px 0 0 0 !important;
    border: none !important;
    border-top: 1px dotted #e1e4e8 !important;
  }

  .header .info > .title {
    font-size: 2.4em !important;
  }

  .header .spacer {
    height: 120px !important;
  }

}

@media only print {
  body {
    font-size: 13px !important;
  }

  body #content {
    max-width: 100%;
    padding: 12px 0 0 0 !important;
    border: none !important;
  }

  .header .spacer {
    height: 260px !important;
  }
}

body #content {
  max-width: 900px;
  border: 1px solid #e1e4e8;
  padding: 10px 20px;
  border-radius: 2px;
  margin: auto
}

hr {
  color: #bbb;
  background-color: #bbb;
  height: 1px;
  flex: 0 1 auto;
  margin: 1em 0;
  padding: 0;
  border: none;
}

/**
 * Links
 */
a {
  color: #0366d6;
  text-decoration: none;
}
a:visited {
  color: #0366d6;
}
a:hover {
  color: #0366d6;
  text-decoration: underline;
}

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

/**
  * Code blocks
  */

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  word-wrap: break-word;
  padding: 0.2em 0.4em;
  margin: 0 .4em;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

pre > code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
  font-size: 100%;
}

/**
 * Blockquotes
 */
blockquote {
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left-width: 3px;
  padding: 0 1em;
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}

blockquote * {
  font-style: normal !important;
  letter-spacing: 0;
  color: #6a737d !important;
}

/**
 * Tables
 */
table {
  border-spacing: 2px;
  display: block;
  font-size: 14px;
  overflow: auto;
  width: 100%;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

th {
  font-weight: 600;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

/**
 * Others
 */

img {
  max-width: 100%;
}

p {
  line-height: 24px;
  color: #24292e;
}

ul {
  margin-top: 0;
}

li {
  color: #24292e;
}

li + li {
  margin-top: 0.25em;
}

* {
  color: #24292e;
}

a:visited {
  color: #0366d6;
}

h1,
h2,
h3 {
  color: #111;
  /* Darker */
}

h1 {
  border-bottom: 1px solid #eaecef;
}

.clearboth {
  content: '';
}

.header {
  margin: auto;
  margin-bottom: 30px;
  max-width: 900px;
}

.header .info > .title {
  font-size: 3.3em;
  font-weight: bolder;
  border: none;
  line-height: 1.5;
  margin: 0;
}

.header .info > .subtitle {
  margin: 0;
}

.header .info > .version {
  font-size: 1.1em;
}

.header .spacer {
  height: 260px;
}

.header .disclaimer, .header .footer {
  font-style: italic;
  font-size: 0.9em;
}

.footer {
  max-width: 900px;
  border-top: 1px dotted #e1e4e8;
  padding: 10px 0;
  margin: auto;
}

/* Fixing the title of x-axis of the mermaid gantt diagram */
.mermaid-container .tick {
  stroke: #24292e !important;
}

.mermaid-container.erdiagram text {
  font-size: 0.8em !important;
}

.mermaid-container svg {
  width: 100%;
}
